@media screen and (max-width: 480px) {
	/* MOBILES -> col-sm */
	.about {
		margin: 0 !important;
		width: 100% !important;
		margin: 0 auto;
	}

	.container h1 {
		font-size: 30px;
	}
	.container p {
		font-size: 15px;
	}
	.container {
		height: 20%;
	}
	.menu {
		flex-direction: column;
		align-items: center;
	}
	.menu-box {
		width: 100%;
		padding: 5px;
		margin-bottom: 20px;
	}
	.menu-image img {
		height: 250px;
		width: 300px;
	}
	.contact-form input,
	.contact-form select,
	.contact-form textarea {
		width: 300px;
	}
}
/* ------------------------------ */

@media screen and (min-width: 481px) and (max-width: 768px) {
	/* MOBILES -> col-md */
	.about {
		width: 100% !important;
		padding: 10px 50px;
	}
	.container {
		height: 25%;
	}
	.menu {
		flex-direction: column;
		align-items: center;
	}
	.menu-box {
		width: 100%;
	}
	.review {
		font-size: 15px !important;
	}
}
/* ------------------------------ */

@media screen and (min-width: 769px) and (max-width: 1024px) {
	/* TABLETS -> col-lg */
	.container {
		height: 30%;
	}
	.about {
		width: 100% !important;
		padding: 10px 100px;
	}
}
/* ------------------------------ */
